<h1 class="mb-5">Mis contactos</h1>

<div class="text-end">
  <button class="btn btn-primary" routerLink="/new">Nuevo contacto</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>EMAIL</th>
      <th>FECHA CREACION</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contacto of contacts">
      <td>{{ contacto.id }}</td>
      <td>{{ contacto.nombre }}</td>
      <td>{{ contacto.email }}</td>
      <td>{{ contacto.createdAt | date : "dd/MM/yyyy hh:mm a" }}</td>
      <td class="text-end">
        <div class="btn-group">
          <button class="btn btn-primary" [routerLink]="[contacto.id, 'edit']">Editar</button>

          <button class="btn btn-danger" (click)="deleteContact(contacto)" >
            Eliminar
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
